﻿
@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listGallery = (List<Project_Vicostone.Models.Gallery>) ViewBag.ListProductIndex;
}
@model Project_Vicostone.Models.Account

<div class="page">
    <div class="carousel-new">
        <div>
            <img src="~/images/slider/01.jpg"
                 srcset="~/images/slider/mobile02_480.jpg 768w,
                             ~/images/slider/tablet01.jpg 1280w,
                             ~/images/slider/01.jpg"
                 sizes="(min-width:320px)" alt="kitchen" />
            <div class="carousel-caption-new text-white">
                <!-- Here add class to change text color ".text-white, .text-blue, .text-grey" -->
                <h2>@StaticResources.Resources.Index_Title</h2>
                <a href="#">@StaticResources.Resources.Index_Title_Detail</a>
            </div>
        </div>
        <div>
            <img src="~/images/slider/02.jpg"
                 srcset="~/images/slider/mobile02.2_480.jpg 768w,
                             ~/images/slider/tablet02.jpg 1280w,
                             ~/images/slider/02.jpg"
                 sizes="(min-width:320px)" alt="kitchen" />
            <div class="carousel-caption-new text-white">
                <h2>@StaticResources.Resources.Index_Title</h2>
                <a href="#">@StaticResources.Resources.Index_Title_Detail</a>
            </div>
        </div>
        <div>
            <img src="~/images/slider/03.jpg"
                 srcset="~/images/slider/mobile03_480.jpg 768w,
                             ~/images/slider/tablet03.jpg 1280w,
                             ~/images/slider/03.jpg 1920w"
                 sizes="(min-width:320px)" alt="kitchen" />
            <div class="carousel-caption-new text-white">
                <h2>@StaticResources.Resources.Index_Title</h2>
                <a href="#">@StaticResources.Resources.Index_Title_Detail</a>
            </div>
        </div>
        <div>
            <img src="~/images/slider/04.jpg"
                 srcset="~/images/slider/mobile04_480.jpg 768w,
                             ~/images/slider/tablet04.jpg 1280w,
                             ~/images/slider/04.jpg 1920w"
                 sizes="(min-width:320px)" alt="kitchen" />
            <div class="carousel-caption-new text-white">
                <h2>@StaticResources.Resources.Index_Title</h2>
                <a href="#">@StaticResources.Resources.Index_Title_Detail</a>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="~/Content/js/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel-new').slick({
                dots: true,
                autoplay: true,
                autoplaySpeed: 2000,
                mobileFirst: true
            });
        });
    </script>
    <!-- End Here Carousel  -->
    <!-- begin environment box -->
    <section class="environ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-lg-7">
                    <h3>@StaticResources.Resources.Index_Environmental_Commitment</h3>
                    <p>@StaticResources.Resources.Index_Environmental_Commitment_Detail</b></p>
                    <h6>@StaticResources.Resources.Index_Envirinmental_better</h6>
                    <a href="#" class="button">@StaticResources.Resources.Index_LearnMore</a>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-5">
                    <ul>
                        <li><img src="~/images/greenguard.png" alt="" /></li>
                        <li><img src="~/images/NSF.png" alt="" /></li>
                        <li><img src="~/images/NSF.png" alt="" /></li>
                        <li><img src="~/images/greenguard.png" alt="" /></li>
                    </ul>
                    <a href="#" class="button">@StaticResources.Resources.Index_LearnMore</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End environment box -->
    <!-- Begin box Advantages color -->
    <section class="advan-color hidden-xs">
        <div class="container">
            <div class="row">
                <h3>@StaticResources.Resources.Index_Advantages</h3>
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <th>Technical Specification</th>
                        <th>Quartz</th>
                        <th>Granite</th>
                        <th>Laminate</th>
                        <th>Solid surface</th>
                    </tr>
                    <tr>
                        <td>Scrath Resistant</td>
                        <td><img src="~/images/color-stone/red.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/red.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/red.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/red.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                    </tr>
                    <tr>
                        <td>Scrath Resistant</td>
                        <td><img src="~/images/color-stone/blue.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/blue.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/blue.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/blue.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                    </tr>
                    <tr>
                        <td>Chip and Crack Resistant</td>
                        <td><img src="~/images/color-stone/orange.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/orange.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/orange.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/orange.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                    </tr>
                    <tr>
                        <td>Resistant to Household Chemicals, Acids and Solvents</td>
                        <td><img src="~/images/color-stone/red.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/red.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/red.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/red.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                    </tr>
                    <tr>
                        <td>Low Maintenance</td>
                        <td><img src="~/images/color-stone/blue.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/blue.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/blue.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/blue.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                    </tr>
                    <tr>
                        <td>Non-absorbent and Non-porous</td>
                        <td><img src="~/images/color-stone/orange.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/orange.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/orange.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/orange.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                    </tr>
                    <tr>
                        <td>Mold and Mildew Resistant</td>
                        <td><img src="~/images/color-stone/red.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/red.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/red.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/red.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                    </tr>
                    <tr>
                        <td>Flexural Strength</td>
                        <td><img src="~/images/color-stone/blue.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/blue.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/blue.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/blue.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                    </tr>
                    <tr>
                        <td>Chip and Crack Resistant</td>
                        <td><img src="~/images/color-stone/orange.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/orange.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/orange.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/orange.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                    </tr>
                    <tr>
                        <td>Low Maintenance</td>
                        <td><img src="~/images/color-stone/red.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/red.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/red.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/red.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                    </tr>
                    <tr>
                        <td>Stain Resistant</td>
                        <td><img src="~/images/color-stone/blue.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/blue.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/blue.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/blue.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                    </tr>
                    <tr>
                        <td>Scrath Resistant</td>
                        <td><img src="~/images/color-stone/orange.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/orange.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/orange.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                        <td><img src="~/images/color-stone/orange.jpg" alt="" width="10" height="10" /><span>Excellent</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <!-- End box Advantages color -->
    <!-- Begin Inspiration Gallery -->
    <section class="inspire-gallery">
        <div class="container">
            <h3>@StaticResources.Resources.Index_Inspiration_Gallery</h3>
            <ul>
                @foreach (var item in listGallery)
                {
                    <li class="items">
                        <a href="@Url.Action("GalleryToDetail", "Gallery", new {id = item.ProductId})">
                            <img src="@Url.Content(item.ImageGallery)" alt=""/>
                        </a>
                        <div class="hover">
                            <div class="name-product">
                                <h4>Product Name</h4>
                                <span>ID gallery: @item.IdGallery</span>
                            </div>
                            <div class="g-social-link">
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa fa-facebook-f"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <a href="@Url.Action("Gallery","Gallery")" class="button">@StaticResources.Resources.Index_View_all</a>
    </section>
    <!-- End Inspiration Gallery -->
    <!-- Begin visualizer box -->
    <section class="visua-box">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-6">
                    <h3>Visualizer</h3>
                    <p>@StaticResources.Resources.Index_Visualizer_Detail</p>
                    <a href="#" class="button">@StaticResources.Resources.Index_LearnMore</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-6">
                    <img src="~/images/demo_screenproduct.png" alt="" />
                    <a href="#" class="button">@StaticResources.Resources.Index_LearnMore</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End visualizer box -->
    <!-- Begin Our Global box -->
    <section class="our-global">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-4 pull-right">
                    <h3>@StaticResources.Resources.Index_Our_Global_Presence</h3>
                    <p>@StaticResources.Resources.Index_Our_Global_Presence_Detail</p>
                    <ul class="list-brand">
                        <li><a href=""><img src="~/images/brands/pp_brands.jpg"></a></li>
                        <li><a href=""><img src="~/images/brands/pom_brands.jpg"></a></li>
                        <li><a href=""><img src="~/images/brands/quantum_brands.jpg"></a></li>
                        <li><a href=""><img src="~/images/brands/natural_brands.jpg"></a></li>
                    </ul>
                    <a href="#" class="button">@StaticResources.Resources.Index_View_all</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-8 pull-left">
                    <img src="~/images/map.jpg" alt="" />
                    <a href="#" class="button">@StaticResources.Resources.Index_View_all</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Global box -->

</div>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function (b, o, i, l, e, r) {b.GoogleAnalyticsObject = l; b[l] || (b[l] =
            function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
        e = o.createElement(i); r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)}(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto'); ga('send', 'pageview');
</script>
