﻿@model IEnumerable<Project_Vicostone.Models.Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!-- Start banner -->
    <div class="banner banner-gallery">
        <div class="banner-d show" data-click="1">
            <img src="~/images/banners/gallery_banner.jpg">
            <div class="banner-text text-grey">
                <!-- Here add class to change text color ".text-white, .text-blue, .text-grey" -->
                <div class="container">
                    <h2>@StaticResources.Resources.Product_new_product</h2>
                    <p>
                        @StaticResources.Resources.Product_Title_Detail
                    </p>
                </div>
            </div>
        </div>
        <div class="banner-d" data-click="2">
            <img src="~/images/banners/registration_banner.jpg">
            <div class="banner-text text-grey">
                <!-- Here add class to change text color ".text-white, .text-blue, .text-grey" -->
                <div class="container">
                    <h2>Classic</h2>
                    <p>
                        @StaticResources.Resources.Product_Title_Detail
                    </p>
                </div>
            </div>
        </div>
        <div class="banner-d" data-click="3">
            <img src="~/images/banners/product_banner.jpg">
            <div class="banner-text text-grey">
                <div class="container">
                    <h2>Natural</h2>
                    <p>
                        @StaticResources.Resources.Product_Title_Detail
                    </p>
                </div>
            </div>
        </div>
        <div class="banner-d" data-click="4">
            <img src="~/images/banners/articles_banner.jpg">
            <div class="banner-text text-grey">
                <div class="container">
                    <h2>Exotic</h2>
                    <p>
                        @StaticResources.Resources.Product_Title_Detail
                    </p>
                </div>
            </div>
        </div>
        <div class="banner-d" data-click="5">
            <img src="~/images/banner-products.jpg">
            <div class="banner-text text-white">
                <div class="container">
                    <h2>@StaticResources.Resources.Product_All_Collection</h2>
                    <p>
                        @StaticResources.Resources.Product_Title_Detail
                    </p>
                </div>
            </div>
        </div>

    </div>
    <!-- End banner -->
    <div class="main-container products-listing" id="products-list">
        <div class="container">
            <!-- Start tab panel -->
            <div role="tabpanel" class="gallery-container clearfix">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" id="productTab">
                    <li role="presentation" class="active"><a href="#product" aria-controls="product" role="tab" data-toggle="tab" data-click="1">@StaticResources.Resources.Product_new_product</a></li>
                    <li role="presentation"><a href="#classic" aria-controls="classic" role="tab" data-toggle="tab" data-click="2">Classic</a></li>
                    <li role="presentation"><a href="#natural" aria-controls="natural" role="tab" data-toggle="tab" data-click="3">Natural</a></li>
                    <li role="presentation"><a href="#exotic" aria-controls="exotic" role="tab" data-toggle="tab" data-click="4">Exotic</a></li>
                    <li role="presentation"><a href="#all-collections" aria-controls="all-collections" role="tab" data-toggle="tab" data-click="5">@StaticResources.Resources.Product_All_Collection</a></li>
                </ul>
                <div class="search-filter clearfix">
                    @*<form class="search-form pull-left" role="search">
                        <div class="form-group pull-left">
                            <input type="text" class="form-control" placeholder="Enter product name or code">
                        </div>
                        <button type="submit" class="btn btn-default pull-right"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>*@
                    <div class="filter pull-right">
                        <button class="btn btn-filter btn-white"><span>Filter</span><i class="fa fa-angle-down"></i></button>
                    </div>
                    <div class="filter-selects clearfix">
                        <div class="choose-color col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-4 no-padding">
                            <ul>
                                <li class="pull-left"><label>Hues:</label></li>
                                <li class="pull-left"><a href="@Url.Action("Category","Category",new {id=1})"><img src="~/images/color-hues/white.png"></a></li>
                                <li class="pull-left"><a href="@Url.Action("Category","Category",new {id=2})"><img src="~/images/color-hues/grey.png"></a></li>
                                <li class="pull-left"><a href="@Url.Action("Category","Category",new {id=3})"><img src="~/images/color-hues/light-grey.png"></a></li>
                                <li class="pull-left"><a href="@Url.Action("Category","Category",new {id=4})"><img src="~/images/color-hues/black.png"></a></li>
                                <li class="pull-left"><a href="@Url.Action("Category","Category",new {id=5})"><img src="~/images/color-hues/brown.png"></a></li>
                                <li class="pull-left"><a href="@Url.Action("Category","Category",new {id=6})"><img src="~/images/color-hues/green.png"></a></li>
                                <li class="pull-left"><a href="@Url.Action("Category","Category",new {id=7})"><img src="~/images/color-hues/red.png"></a></li>
                            </ul>
                        </div>
                        <div class="size col-xs-12 col-sm-6 col-md-6 col-lg-4 no-padding">
                            <ul>
                                <li><label>@StaticResources.Resources.Product_Size:</label></li>
                                <li><a href="">305cm x 144cm</a></li>
                                <li><a href="">330cm x 165cm</a></li>
                            </ul>
                        </div>
                        <div class="material col-xs-12 col-sm-6 col-md-6 col-lg-4 no-padding">
                            <ul>
                                <li><label>@StaticResources.Resources.Product_Material:</label></li>
                                <li>
                                    <dl class="dropdown-selects">
                                        <dt><a href="#"><span>recycled material</span><i class="fa fa-angle-down"></i></a></dt>
                                        <dd>
                                            <ul>
                                                <li><a href="#">Gốm</a></li>
                                                <li><a href="#">Đá</a></li>
                                                <li><a href="#">Đá Hoa</a></li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="clear-filter pull-right">Clear Filter</a>
                    </div>
                </div>


                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="product">
                        <!-- Start Products grid -->
                        <ul class="products-grid clearfix">
                            @foreach (var item in Model.Where(x => x.Collections == "New Products"))
                            {
                                <li class="item col-lg-3 col-md-4 col-sm-4 col-xs-6">
                                    <div class="product-image">
                                        <a class="" href="@Url.Action("ProductDetail","Home",new {id=item.Id})">
                                            <img src="@Url.Content(item.ProductImage)">
                                        </a>
                                        <div class="ribbon">
                                            @*<img src="~/images/ribbon_best.png" alt="" />*@
                                        </div>
                                        <div class="hover">
                                            <div class="name-product">
                                                <h4>@item.ProductName</h4>
                                                <span>@item.ProductCode</span>
                                            </div>
                                            <div class="g-social-link">
                                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                <a href="#"><i class="fa fa-facebook-f"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <ul class="list-links pull-right">
                                            <li class="pull-left">
                                                <a href="#" class="tooltip-hover">
                                                    <img src="~/images/icon_drop.jpg" />
                                                </a>
                                                <div class="tooltip" role="tooltip">
                                                    <div class="tooltip-arrow"></div>
                                                    <div class="tooltip-inner">
                                                        <div class="table">
                                                            <div class="tooltip-image">
                                                                <img src="~/images/icon_left_hover.jpg" />
                                                            </div>
                                                            <div class="tooltip-des">Tint</div>
                                                        </div>
                                                        <div class="status clearfix">Available</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="pull-left">
                                                <a href="#" class="tooltip-hover">
                                                    <img src="~/images/icon_left.jpg" />
                                                </a>
                                                <div class="tooltip" role="tooltip">
                                                    <div class="tooltip-arrow"></div>
                                                    <div class="tooltip-inner">
                                                        <div class="table">
                                                            <div class="tooltip-image">
                                                                <img src="~/images/icon_left_hover.jpg" />
                                                            </div>
                                                            <div class="tooltip-des">Leaf</div>
                                                        </div>
                                                        <div class="status clearfix">Available</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="pull-left">
                                                <a href="#" class="tooltip-hover">
                                                    <img src="~/images/icon_arrow.jpg" />
                                                </a>
                                                <div class="tooltip" role="tooltip">
                                                    <div class="tooltip-arrow"></div>
                                                    <div class="tooltip-inner">
                                                        <div class="table">
                                                            <div class="tooltip-image">
                                                                <img src="~/images/icon_left_hover.jpg" />
                                                            </div>
                                                            <div class="tooltip-des">Arrows</div>
                                                        </div>
                                                        <div class="status clearfix">Available</div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="pull-left">
                                            <h3 class="product-name "> <a href="@Url.Action("ProductDetail", "Home", new { id = item.Id })">@item.ProductName</a></h3>
                                            <p> <a href="@Url.Action("ProductDetail", "Home", new { id = item.Id })">@item.ProductCode</a></p>
                                        </div>
                                    </div>

                                </li>
                            }
                        </ul>
                        <!-- End products-gid -->

                        <div class="toolbar toolbar-bottom">
                            <div class="amount">
                                <strong>18 results for:</strong> "Hue: <span>white</span>"
                            </div>
                        </div>

                    </div>
                    <div div role="tabpanel" class="tab-pane" id="classic">
                        <ul class="products-grid clearfix">
                            @foreach (var item in Model.Where(x => x.Collections == "Classic"))
                            {
                                <li class="item col-lg-3 col-md-4 col-sm-4 col-xs-6">
                                    <div class="product-image">
                                        <a class="" href="@Url.Action("ProductDetail","Home",new {id=item.Id})">
                                            <img src="@Url.Content(item.ProductImage)">
                                        </a>
                                        <div class="ribbon">
                                            @*<img src="~/images/ribbon_best.png" alt="" />*@
                                        </div>
                                        <div class="hover">
                                            <div class="name-product">
                                                <h4>@item.ProductName </h4>
                                                <span>@item.ProductCode</span>
                                            </div>
                                            <div class="g-social-link">
                                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                <a href="#"><i class="fa fa-facebook-f"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <ul class="list-links pull-right">
                                            <li class="pull-left">
                                                <a href="#" class="tooltip-hover">
                                                    <img src="~/images/icon_drop.jpg" />
                                                </a>
                                                <div class="tooltip" role="tooltip">
                                                    <div class="tooltip-arrow"></div>
                                                    <div class="tooltip-inner">
                                                        <div class="table">
                                                            <div class="tooltip-image">
                                                                <img src="~/images/icon_left_hover.jpg" />
                                                            </div>
                                                            <div class="tooltip-des">Tint</div>
                                                        </div>
                                                        <div class="status clearfix">Available</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="pull-left">
                                                <a href="#" class="tooltip-hover">
                                                    <img src="~/images/icon_left.jpg" />
                                                </a>
                                                <div class="tooltip" role="tooltip">
                                                    <div class="tooltip-arrow"></div>
                                                    <div class="tooltip-inner">
                                                        <div class="table">
                                                            <div class="tooltip-image">
                                                                <img src="~/images/icon_left_hover.jpg" />
                                                            </div>
                                                            <div class="tooltip-des">Leaf</div>
                                                        </div>
                                                        <div class="status clearfix">Available</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="pull-left">
                                                <a href="#" class="tooltip-hover">
                                                    <img src="~/images/icon_arrow.jpg" />
                                                </a>
                                                <div class="tooltip" role="tooltip">
                                                    <div class="tooltip-arrow"></div>
                                                    <div class="tooltip-inner">
                                                        <div class="table">
                                                            <div class="tooltip-image">
                                                                <img src="~/images/icon_left_hover.jpg" />
                                                            </div>
                                                            <div class="tooltip-des">Arrows</div>
                                                        </div>
                                                        <div class="status clearfix">Available</div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="pull-left">
                                            <h3 class="product-name "> <a href="@Url.Action("ProductDetail", "Home", new { id = item.Id })">@item.ProductName</a></h3>
                                            <p> <a href="@Url.Action("ProductDetail", "Home", new { id = item.Id })">@item.ProductCode</a></p>
                                        </div>
                                    </div>

                                </li>
                            }
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="natural">
                        <ul class="products-grid clearfix">
                            @foreach (var item in Model.Where(x => x.Collections == "Natural"))
                            {
                                <li class="item col-lg-3 col-md-4 col-sm-4 col-xs-6">
                                    <div class="product-image">
                                        <a class="" href="@Url.Action("ProductDetail","Home",new {id=item.Id})">
                                            <img src="@Url.Content(item.ProductImage)">
                                        </a>
                                        <div class="ribbon">
                                            @*<img src="~/images/ribbon_best.png" alt="" />*@
                                        </div>
                                        <div class="hover">
                                            <div class="name-product">
                                                <h4>@item.ProductName</h4>
                                                <span>@item.ProductCode</span>
                                            </div>
                                            <div class="g-social-link">
                                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                <a href="#"><i class="fa fa-facebook-f"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <ul class="list-links pull-right">
                                            <li class="pull-left">
                                                <a href="#" class="tooltip-hover">
                                                    <img src="~/images/icon_drop.jpg" />
                                                </a>
                                                <div class="tooltip" role="tooltip">
                                                    <div class="tooltip-arrow"></div>
                                                    <div class="tooltip-inner">
                                                        <div class="table">
                                                            <div class="tooltip-image">
                                                                <img src="~/images/icon_left_hover.jpg" />
                                                            </div>
                                                            <div class="tooltip-des">Tint</div>
                                                        </div>
                                                        <div class="status clearfix">Available</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="pull-left">
                                                <a href="#" class="tooltip-hover">
                                                    <img src="~/images/icon_left.jpg" />
                                                </a>
                                                <div class="tooltip" role="tooltip">
                                                    <div class="tooltip-arrow"></div>
                                                    <div class="tooltip-inner">
                                                        <div class="table">
                                                            <div class="tooltip-image">
                                                                <img src="~/images/icon_left_hover.jpg" />
                                                            </div>
                                                            <div class="tooltip-des">Leaf</div>
                                                        </div>
                                                        <div class="status clearfix">Available</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="pull-left">
                                                <a href="#" class="tooltip-hover">
                                                    <img src="~/images/icon_arrow.jpg" />
                                                </a>
                                                <div class="tooltip" role="tooltip">
                                                    <div class="tooltip-arrow"></div>
                                                    <div class="tooltip-inner">
                                                        <div class="table">
                                                            <div class="tooltip-image">
                                                                <img src="~/images/icon_left_hover.jpg" />
                                                            </div>
                                                            <div class="tooltip-des">Arrows</div>
                                                        </div>
                                                        <div class="status clearfix">Available</div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="pull-left">
                                            <h3 class="product-name "> <a href="@Url.Action("ProductDetail", "Home", new { id = item.Id })">@item.ProductName</a></h3>
                                            <p> <a href="@Url.Action("ProductDetail", "Home", new { id = item.Id })">@item.ProductCode</a></p>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="exotic">
                        <ul class="products-grid clearfix">
                            @foreach (var item in Model.Where(x => x.Collections == "Exotic"))
                            {
                                <li class="item col-lg-3 col-md-4 col-sm-4 col-xs-6">
                                    <div class="product-image">
                                        <a class="" href="@Url.Action("ProductDetail","Home",new {id=item.Id})">
                                            <img src="@Url.Content(item.ProductImage)">
                                        </a>
                                        <div class="ribbon">
                                            @*<img src="~/images/ribbon_best.png" alt="" />*@
                                        </div>
                                        <div class="hover">
                                            <div class="name-product">
                                                <h4>@item.ProductName</h4>
                                                <span>@item.ProductCode</span>
                                            </div>
                                            <div class="g-social-link">
                                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                <a href="#"><i class="fa fa-facebook-f"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <ul class="list-links pull-right">
                                            <li class="pull-left">
                                                <a href="#" class="tooltip-hover">
                                                    <img src="~/images/icon_drop.jpg" />
                                                </a>
                                                <div class="tooltip" role="tooltip">
                                                    <div class="tooltip-arrow"></div>
                                                    <div class="tooltip-inner">
                                                        <div class="table">
                                                            <div class="tooltip-image">
                                                                <img src="~/images/icon_left_hover.jpg" />
                                                            </div>
                                                            <div class="tooltip-des">Tint</div>
                                                        </div>
                                                        <div class="status clearfix">Available</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="pull-left">
                                                <a href="#" class="tooltip-hover">
                                                    <img src="~/images/icon_left.jpg" />
                                                </a>
                                                <div class="tooltip" role="tooltip">
                                                    <div class="tooltip-arrow"></div>
                                                    <div class="tooltip-inner">
                                                        <div class="table">
                                                            <div class="tooltip-image">
                                                                <img src="~/images/icon_left_hover.jpg" />
                                                            </div>
                                                            <div class="tooltip-des">Leaf</div>
                                                        </div>
                                                        <div class="status clearfix">Available</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="pull-left">
                                                <a href="#" class="tooltip-hover">
                                                    <img src="~/images/icon_arrow.jpg" />
                                                </a>
                                                <div class="tooltip" role="tooltip">
                                                    <div class="tooltip-arrow"></div>
                                                    <div class="tooltip-inner">
                                                        <div class="table">
                                                            <div class="tooltip-image">
                                                                <img src="~/images/icon_left_hover.jpg" />
                                                            </div>
                                                            <div class="tooltip-des">Arrows</div>
                                                        </div>
                                                        <div class="status clearfix">Available</div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="pull-left">
                                            <h3 class="product-name "> <a href="@Url.Action("ProductDetail", "Home", new { id = item.Id })">@item.ProductName</a></h3>
                                            <p> <a href="@Url.Action("ProductDetail", "Home", new { id = item.Id })">@item.ProductCode</a></p>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="all-collections">
                        <ul class="products-grid clearfix">
                            @foreach (var item in Model)
                            {
                                <li class="item col-lg-3 col-md-4 col-sm-4 col-xs-6">
                                    <div class="product-image">
                                        <a class="" href="@Url.Action("ProductDetail","Home",new {id=item.Id})">
                                            <img src="@Url.Content(item.ProductImage)">
                                        </a>
                                        <div class="ribbon">
                                            @*<img src="~/images/ribbon_best.png" alt=""/>*@
                                        </div>
                                        <div class="hover">
                                            <div class="name-product">
                                                <h4>@item.ProductName</h4>
                                                <span>@item.ProductCode</span>
                                            </div>
                                            <div class="g-social-link">
                                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                <a href="#"><i class="fa fa-facebook-f"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <ul class="list-links pull-right">
                                            <li class="pull-left">
                                                <a href="#" class="tooltip-hover">
                                                    <img src="~/images/icon_drop.jpg" />
                                                </a>
                                                <div class="tooltip" role="tooltip">
                                                    <div class="tooltip-arrow"></div>
                                                    <div class="tooltip-inner">
                                                        <div class="table">
                                                            <div class="tooltip-image">
                                                                <img src="~/images/icon_left_hover.jpg" />
                                                            </div>
                                                            <div class="tooltip-des">Tint</div>
                                                        </div>
                                                        <div class="status clearfix">Available</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="pull-left">
                                                <a href="#" class="tooltip-hover">
                                                    <img src="~/images/icon_left.jpg" />
                                                </a>
                                                <div class="tooltip" role="tooltip">
                                                    <div class="tooltip-arrow"></div>
                                                    <div class="tooltip-inner">
                                                        <div class="table">
                                                            <div class="tooltip-image">
                                                                <img src="~/images/icon_left_hover.jpg" />
                                                            </div>
                                                            <div class="tooltip-des">Leaf</div>
                                                        </div>
                                                        <div class="status clearfix">Available</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="pull-left">
                                                <a href="#" class="tooltip-hover">
                                                    <img src="~/images/icon_arrow.jpg" />
                                                </a>
                                                <div class="tooltip" role="tooltip">
                                                    <div class="tooltip-arrow"></div>
                                                    <div class="tooltip-inner">
                                                        <div class="table">
                                                            <div class="tooltip-image">
                                                                <img src="~/images/icon_left_hover.jpg" />
                                                            </div>
                                                            <div class="tooltip-des">Arrows</div>
                                                        </div>
                                                        <div class="status clearfix">Available</div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="pull-left">
                                            <h3 class="product-name "> <a href="@Url.Action("ProductDetail", "Home", new { id = item.Id })">@item.ProductName</a></h3>
                                            <p> <a href="@Url.Action("ProductDetail", "Home", new { id = item.Id })">@item.ProductCode</a></p>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>

                    </div>
                </div>
            </div>
            <!-- End tab panel -->

        </div>
    </div>
