﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var relatedProducts = (List<Project_Vicostone.Models.Product>)ViewBag.RelatedProducts;
    var hueProducts = (List<Project_Vicostone.Models.Product>)ViewBag.HueProducts;
    var galleryProducts = (List<Project_Vicostone.Models.Gallery>)ViewBag.GalleryProducts;
}
@model Project_Vicostone.Models.Product
<!-- Begin Header -->
<!-- start box product-detail-img -->
<div class="product-detail-img">
    <img src="~/images/products/img_product-detail.jpg">
    <div class="overlay-product">&nbsp;</div>
    <div class="row container prodct-ct-detail">
        <div class="col-xs-12 product-img">
            <img src="@Url.Content(Model.ProductImage)" alt="" />
        </div>
        <div class="col-xs-12 product-info">
            <h2>@Model.ProductName <span>@Model.ProductCode</span></h2>
            <p class="prd-description">@StaticResources.Resources.Product_Title_Detail</p>
        </div>
    </div>
</div>
<!-- End box product-detail-img -->

<div class="main-container product-detail">
    <div class="container">
        <div class="row no-margin detail-social">
            <div class="col-xs-12 col-sm-9 col-md-10 group-button-info">
                <button type="submit" class="btn btn-white"><a href="#">DOWNLOAD CATALOGUE <i class="fa fa-angle-double-down"></i></a></button>
                <button type="submit" class="btn btn-white"><a href="#">@StaticResources.Resources.Product_Detail_VIEW_FULL_SLAB <i class="fa fa-eye"></i></a></button>
                <button type="submit" class="btn btn-white"><a href="#">@StaticResources.Resources.Product_Detail_FIND_A_STORE <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></a></button>
                <button type="submit" class="btn btn-white"><a href="#">@StaticResources.Resources.Product_Detail_REQUEST_SAMPLE<i class="fa fa-shopping-cart" aria-hidden="true"></i></a></button>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 no-padding">
                <ul class="social no-bg">
                    <li><label>@StaticResources.Resources.Product_Detail_Share_on: </label></li>
                    <li class="facebook"><a href="#" class="fa fa-facebook">facebook</a></li>
                    <li class="twitter"><a href="#" class="fa fa-twitter">twitter</a></li>
                    <li class="google-plus"><a href="#" class="fa fa-google-plus">google plus</a></li>
                    <li class="pinterest"><a href="#" class="fa fa-pinterest">pinterest</a></li>
                </ul>
            </div>
        </div>

        <!-- 		start gallary -->
        <div class="product ">
            <div class="product-header">
                <h3 class="product-name-title">@StaticResources.Resources.Index_Inspiration_Gallery</h3>
            </div>
            <div class="products-grid gridMasonry clearfix" id="gridMasonry">
                @foreach (var item in galleryProducts)
                {
                    <div class="item grid-item col-xs-12 col-sm-6 col-md-4">
                        <div class="product-image">
                            <a href="@Url.Action("GalleryToDetail","Gallery",new {id=item.ProductId})">
                                <img src="@Url.Content(item.ImageGallery)">
                            </a>
                            <div class="hover">
                                <div class="name-product">
                                    <span>ID gallery: @item.IdGallery</span>
                                </div>
                                <div class="g-social-link">
                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                }

            </div>
            <button type="submit" class="btn"><a href="@Url.Action("Gallery","Gallery")">@StaticResources.Resources.Product_Detail_VIEWGALLERY</a></button>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('.gridMasonry').masonry({
                        itemSelector: '.grid-item'
                    });
                });
            </script>
        </div>
        <!-- 	End gallary	 -->
        <!-- Start description product -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            @StaticResources.Resources.Product_detail_TECHNICAL_INFOMATION
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <h4>LOREM</h4>
                        <p>@StaticResources.Resources.Product_detail_Lorem </p>
                        <h4>@StaticResources.Resources.Product_Size</h4>
                        <p>@Model.Sizes</p>
                        <h4>@StaticResources.Resources.Product_Detail_Technicall</h4>
                        <p>@Model.TechnicalInfor</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            @StaticResources.Resources.Product_Detail_CARE_MAINTENANCE
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        @StaticResources.Resources.Product_Detail_CARE_MAINTENANCE_Detail
                    </div>
                </div>
            </div>
        </div>
        <!-- End description product -->

        <div class="collection-name">
            <h3 class="product-name-title">@StaticResources.Resources.Product_Detail_COLLECTION_NAME</h3>
            <ul class="products-grid clearfix">
                @foreach (var item in relatedProducts)
                    {
                    <li class="item col-md-3 col-sm-4 col-xs-6">
                        <div class="product-image">
                            <a class="" href="@Url.Action("ProductDetail","Home",new {id=item.Id})">
                                <img src="@Url.Content(item.ProductImage)">
                            </a>
                            <div class="hover">
                                <div class="name-product">
                                    <h4>@item.ProductName</h4>
                                    <span>@item.ProductCode</span>
                                </div>
                                <div class="g-social-link">
                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <h3 class="product-name pull-left">@item.ProductName</h3>
                        </div>
                        <p>@item.ProductCode</p>
                    </li>
                    }

            </ul>
            <button type="submit" class="btn"><a href="@Url.Action("Product","Home")">@StaticResources.Resources.Product_Detail_SEE_MORE</a></button>
        </div>

        <div class="similar-hue">
            <h3 class="product-name-title">@StaticResources.Resources.Product_Detail_SIMILAR_HUE</h3>
            <ul class="products-grid clearfix">
                @foreach (var item in hueProducts)
                    {
                    <li class="item col-md-3 col-sm-4 col-xs-6">
                        <div class="product-image">
                            <a class="" href="@Url.Action("ProductDetail","Home",new {id=item.Id})">
                                <img src="@Url.Content(item.ProductImage)">
                            </a>
                            <div class="hover">
                                <div class="name-product">
                                    <h4>@item.ProductName</h4>
                                    <span>@item.ProductCode</span>
                                </div>
                                <div class="g-social-link">
                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <h3 class="product-name pull-left">@item.ProductName</h3>
                        </div>
                        <p>@item.ProductCode</p>
                    </li>
                    }
            </ul>
            <button type="submit" class="btn"><a href="@Url.Action("Product","Home")">@StaticResources.Resources.Product_Detail_SEE_MORE</a></button>
        </div>
    </div>
</div>
