﻿@model IEnumerable<Project_Vicostone.Models.Product>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container product-detail">
    <div class="collection-name">
        <div class="container">
            <h3 class="product-name-title">COLLECTION NAME</h3>
            <ul class="products-grid clearfix">
                @foreach (var item in Model)
            {
                    <li class="item col-md-3 col-sm-4 col-xs-6">
                        <div class="product-image">
                            <a class="" href="@Url.Action("ProductDetail", "Home", new {id = item.Id})">
                                <img src="@Url.Content(item.ProductImage)">
                            </a>
                            <div class="hover">
                                <div class="name-product">
                                    <h4>@item.ProductName</h4>
                                    <span>@item.ProductCode</span>
                                </div>
                                <div class="g-social-link">
                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <h3 class="product-name pull-left">@item.ProductName</h3>
                        </div>
                        <p>@item.ProductCode</p>
                    </li>
                }
               
            </ul>
        </div>
    </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=301115520295379";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-share-button" data-href="https://www.google.com.vn/?gfe_rd=cr&dcr=0&ei=M7PyWerVPIal8wed8oSoBA" data-width="100px" data-type="box_count"></div>

