﻿@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@model Project_Vicostone.Models.Account

<div class="wrap-login">
    <div class="login-form">
        <h3>LOGIN</h3>
        <p>If you have an account with us, please log in.</p>
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form">
                <div class="form-group">
                    <label for="email">Email Adress <span class="require">*</span></label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @autofocus = "autofocus" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="pwd">Password <span class="require">*</span></label>
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.RememberMe) Remember Me
                    @*    <label><input type="checkbox"> Remember me</label>*@
                    <span class="require require-fiel">* Required Field</span>
                </div>
                <button type="submit" class="btn btn-default">LOGIN</button>
            </div>
        }
        <a href="#" class="forgot">Forgot Your Password?</a>
    </div>

    <div class="create-account">
        <h3>REGISTER</h3>
        <a href=#>Create new account</a>
        <a href="/Login/Register"><button type="submit" class="btn btn-default">REGISTER</button></a>
    </div>
</div>
