﻿@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@model Project_Vicostone.Models.Account

<div class="wrap-login">
    <div class="login-form">
        <h3>REGISTER</h3>
        <a href="#" class="create-new-acc">Create new account</a>

        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                        <label for="firstname">First Name<span class="require">*</span></label>
                        @Html.TextBoxFor(a => a.FirstName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                        <label for="lastname">Last Name <span class="require">*</span></label>
                        @Html.TextBoxFor(model => model.LastName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <label for="companyname">Company Name <span class="require">*</span></label>
                    @Html.TextBoxFor(model => model.CompanyName, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.CompanyName, "", new {@class = "text-danger"})
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="companyname">Distributor <span class="require">*</span></label>
                        @Html.DropDownListFor(model => model.Distributor, new[]
                                    {
                                        new SelectListItem() {Text = "Đại Lý"},
                                        new SelectListItem() {Text = "Bán lẻ"},
                                        new SelectListItem() {Text = "Bán sỉ"},
                                    }, "Please choose", new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    <label for="address">Address<span class="require">*</span></label>
                    @Html.TextBoxFor(model => model.Address, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Address, "", new {@class = "text-danger"})
                </div>
                <div class="form-group">
                    <label for="">&nbsp;</label>
                    @Html.TextBoxFor(model => model.Address, new {@class = "form-control"})
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                        <label for="city">City</label>
                        @Html.TextBoxFor(model => model.City, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.City, "", new {@class = "text-danger"})
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 form-group">

                        <label for="city">Country</label>
                        @Html.DropDownListFor(model => model.Country, new[]
                                    {
                                        new SelectListItem() {Text = "Việt Nam"},
                                        new SelectListItem() {Text = "Singapo"},
                                        new SelectListItem() {Text = "Thái Lan"},
                                        new SelectListItem() {Text = "Nhật Bản"},
                                        new SelectListItem() {Text = "Hàn Quốc"},
                                    }, "Please choose", new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Country, "", new {@class = "text-danger"})

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                        <label for="email">Email Address <span class="require">*</span></label>
                        @Html.TextBoxFor(model => model.Email, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                        <label for="telephone">Telephone</label>
                        @Html.TextBoxFor(model => model.Telephone, new {@class = "form-control"})
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                        <label for="pwd">Password <span class="require">*</span></label>
                        @Html.TextBoxFor(model => model.Password, new {@class = "form-control", type = "password"})
                        @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                        <label for="confirmpwd">Confirm Password<span class="require">*</span></label>
                        @Html.TextBoxFor(model => model.PasswordConfirm, new {@class = "form-control", type = "password"})
                        @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new {@class = "text-danger"})
                    </div>
                </div>

                <button type="submit" class="btn btn-default">REGISTER</button>
            </div>
                <p>
                    <span class="require require-fiel">* Required Field</span>
                </p>
        }
    </div>

    <div class="create-account">
        <h3>LOGIN</h3>
        <p>If you have an account with us, please log in.</p>
        <a href="/Login/Login"><button type="submit" class="btn btn-default">LOGIN</button></a>
    </div>
</div>
