﻿@model IEnumerable<Project_Vicostone.Models.Gallery>
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container product-detail">
    <div class="container">
        <div class="collection-name">
            <h3 class="product-name-title">COLLECTION NAME</h3>
            <div class="products-grid gridMasonry clearfix" id="gridMasonry">
                @foreach (var item in Model)
                 {
                    <div class="item grid-item col-xs-12 col-sm-6 col-md-4">
                        <div class="product-image">
                            <a href="@Url.Action("GalleryToDetail","Gallery",new {id=item.ProductId})">
                                <img src="@Url.Content(item.ImageGallery)">
                            </a>
                            <div class="hover">
                                <div class="name-product">
                                    <span>ID gallery: @item.IdGallery</span>
                                </div>
                                <div class="g-social-link">
                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>
