﻿@using Project_Vicostone.Common
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>VicoStone-Homepage</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/ico" href="../Home/favicon.ico" />
    <!-- Place favicon.ico in the root directory -->
    <script src="~/Content/js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/jquery.smartmenus.bootstrap.css">
    <link rel="stylesheet" href="~/Content/css/mains.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/Content/js/plugins.js"></script>
    <script src="~/Content/js/jquery-ui.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.smartmenus.min.js"></script>
    <script src="~/Content/js/jquery.smartmenus.bootstrap.min.js"></script>
    <script src="~/Content/js/picturefill.min.js" async=""></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/jquery-1.12.4.js"></script>
    <script src="~/Content/js/masonry.pkgd.min.js"></script>
    <link href="~/Content/css/mains_vn.css" rel="stylesheet" />
</head>
<body>
    <div class="page">
        <!-- Begin Header -->
        <header class="header">
            <div class="container clearfix">
                <div class="logo col-md-3 col-sm-4 col-xs-7">
                    <h1>
                        <a href="/Home/Index">
                            <img src="~/images/logo.png" alt="logo">
                        </a>

                    </h1>
                </div>
                <div class="region-languague col-md-4 col-sm-4 col-xs-5">
                    <div class="region col-sm-8 col-md-6">
                        <dl class="dropdown-selects">
                            <dt><a href="#"><span class="hidden-xs">Vicostone Global</span><span class="visible-xs">Global</span><i class="fa fa-angle-down"></i></a></dt>
                            <dd>
                                <ul>
                                    <li><a href="#">Vicostone 1</a></li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
            
                    @using (Html.BeginForm("ChangeCulture", "Base"))
                    {
                        <ul class="languague col-sm-4 col-md-6 hidden-xs">
                            <li><a href="@Url.Action("ChangeCulture", "Base", new { ddlCulture = "en", returnUrl = Request.RawUrl })" >EN</a></li>
                            <li><a href="@Url.Action("ChangeCulture","Base",new { ddlCulture = "vi", returnUrl = Request.RawUrl })">VI</a></li>
                        </ul>
                    }

                </div>
                <!-- Start Search form on Tablet -->
                <div class="tablet-search col-md-4 col-sm-4 visible-sm">
                    <form class="search-form pull-right" role="search" action="/Home/Search" method="get">
                        <div class="form-group pull-left">
                            @Html.TextBox("SearchString")
                            <button type="submit" class="btn btn-default pull-right"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </div>
                    </form>
                </div>
                <!-- End Search form on Tablet -->
                <div class="header-bottom">
                    <!-- Start Navigation for Mobile -->
                    <nav class="navbar navbar-default navbar-mobile visible-xs visible-sm col-xs-2 col-sm-3">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="group-header">
                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <ul class="list-links col-xs-10 col-sm-9 col-md-5 col-xs-12 visible-xs visible-sm">
                                    <li class="visible-xs visible-sm">
                                        <a href=""><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Where to buy</a>
                                    </li>
                                    <li class="">
                                        <a href="">
                                            <span class="fa fa-desktop"></span>
                                            Visualizer
                                        </a>
                                    </li>
                                    @if (@Session["Name"] != null)
                                    {
                                        <li class="hidden-xs">
                                            <a>
                                                <span class="fa fa-user"></span>
                                                <label class="">@Session["Name"].ToString()</label>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/Login/Logout">
                                                <label>Logout</label>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="hidden-xs">
                                            <a href="/Login/Login">
                                                <span class="fa fa-user"></span>
                                                <label class="">@StaticResources.Resources.Layout_Login</label>
                                            </a>
                                        </li>
                                    }
                                    <li class="header-cart">
                                        <a href="" class="cart-link"><span class="fa fa-shopping-cart"></span><label class="count">1</label>Request Sample</a>
                                        <div class="minicart">
                                            <div class="products-list">
                                                <table class="data-table">
                                                    <tr>
                                                        <td class="product-image" width="15%">
                                                            <a href="">
                                                                <img src="~/images/products/product_07.jpg" alt="product stone">
                                                            </a>
                                                        </td>
                                                        <td width="85%" class="product-des">
                                                            <table cellpadding="0" cellspacing="0" width="100%" class="data-table-info">
                                                                <tr>
                                                                    <td class="align-left"><h3 class="product-name">Product Color Name</h3></td>
                                                                    <td class="align-right"><button class="btn btn-remove"><span>Remove</span></button></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="align-left"><p>Code</p></td>
                                                                    <td class="align-right"><p>BQ2030</p></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="align-left"><p>Size</p></td>
                                                                    <td class="align-right"><p>6m x 8m</p></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="align-left"><p>Qty</p></td>
                                                                    <td class="align-right"><p>1</p></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="product-image" width="15%">
                                                            <a href=""><img src="~/images/products/product_07.jpg"></a>
                                                        </td>
                                                        <td width="85%" class="product-des">
                                                            <table cellpadding="0" cellspacing="0" width="100%" class="data-table-info">
                                                                <tr>
                                                                    <td class="align-left"><h3 class="product-name">Product Color Name</h3></td>
                                                                    <td class="align-right"><button class="btn btn-remove"><span>Remove</span></button></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="align-left"><p>Code</p></td>
                                                                    <td class="align-right"><p>BQ2030</p></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="align-left"><p>Size</p></td>
                                                                    <td class="align-right"><p>6m x 8m</p></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="align-left"><p>Qty</p></td>
                                                                    <td class="align-right"><p>1</p></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="buttons-set">
                                                <button class="btn btn-blue">Order my samples<i class="fa fa-angle-right"></i></button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="navbar-collapse collapse">
                            <div class="container">
                                <ul class="nav navbar-nav sm" data-smartmenus-id="1432180452430541">
                                    <li><a href="https://www.google.com/">@StaticResources.Resources.Layout_about_us</a></li>
                                    <li>
                                        <a href="/Home/Product" class="has-submenu">@StaticResources.Resources.Layout_Product</a>
                                        <ul class="dropdown-menu multi-level">
                                            <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                                            <li><a href="/Home/Product">@StaticResources.Resources.Layout_Product</a></li>
                                            <li><a href="/AddProduct/Index">@StaticResources.Resources.Layout_Add_Product</a></li>
                                            <li><a href="/AddGalleryProduct/AddGalleryToProduct">@StaticResources.Resources.Layout_Add_Gallery</a></li>
                                            <li>
                                                <a href="@Url.Action("Category","Category",new {id=12})" class="has-submenu">@StaticResources.Resources.Layout_Color</a>
                                                <ul class="dropdown-menu">
                                                    <li><a tabindex="-1" href="@Url.Action("Category","Category",new {id=1})">@StaticResources.Resources.Layout_White</a></li>
                                                    <li><a href="@Url.Action("Category","Category",new {id=2})">@StaticResources.Resources.Layout_Grey</a></li>
                                                    <li><a href="@Url.Action("Category","Category",new {id=3})">@StaticResources.Resources.Layout_Light_grey</a></li>
                                                    <li><a href="@Url.Action("Category","Category",new {id=4})">@StaticResources.Resources.Layout_Black</a></li>
                                                    <li><a href="@Url.Action("Category","Category",new {id=5})">@StaticResources.Resources.Layout_Brown</a></li>
                                                    <li><a href="@Url.Action("Category","Category",new {id=6})">@StaticResources.Resources.Layout_Green</a></li>
                                                    <li><a href="@Url.Action("Category","Category",new {id=7})">@StaticResources.Resources.Layout_Red</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Category","Category",new {id=12})" class="has-submenu">@StaticResources.Resources.Layout_Collections</a>
                                                <ul class="dropdown-menu">
                                                    <li><a tabindex="-1" href="@Url.Action("Category","Category",new {id=8})">@StaticResources.Resources.Layout_New_Products</a></li>
                                                    <li><a href="@Url.Action("Category","Category",new {id=9})">Classic</a></li>
                                                    <li><a href="@Url.Action("Category","Category",new {id=10})">Natural</a></li>
                                                    <li><a href="@Url.Action("Category","Category",new {id=11})">Exotic</a></li>
                                                    <li><a href="@Url.Action("Category","Category",new {id=12})">@StaticResources.Resources.Layout_All_Collection</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="/Gallery/Gallery">@StaticResources.Resources.Layout_Gallery</a></li>
                                    <li><a href="#" class="where-to-buy hidden-xs">@StaticResources.Resources.Layout_Where_to_Buy</a></li>
                                    <li><a href="#">@StaticResources.Resources.Layout_News_Events</a></li>
                                    <li><a href="#">@StaticResources.Resources.Layout_Customer_Service</a></li>
                                    <li><a href="#">@StaticResources.Resources.Layout_Investor_Relations</a></li>
                                    <li><a href="#">@StaticResources.Resources.Layout_For_the_Trade</a></li>
                                    <li>@Html.ActionLink(@StaticResources.Resources.Layout_Contact_Us, "ContactUs", "ContactUs")</li>
                                </ul>

                                <form class="search-form pull-right" role="search" action="/Home/Search" method="get">
                                    <div class="form-group pull-left">
                                        @Html.TextBox("SearchString")
                                        <button type="submit" class="btn btn-default pull-right"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </div>
                                </form>
                                <div class="region">
                                    <div class="account col-xs-8 no-padding">
                                        <a href="">
                                            <span class="fa fa-user"></span>
                                            Trade Partner Login
                                        </a>
                                    </div>
                                    <ul class="languague col-xs-4 no-padding">
                                        <li><a href="#" class="active">EN</a></li>
                                        <li><a href="#">VI</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                    <!-- End Navigation for Mobile -->
                    <ul class="list-links col-xs-10 col-sm-9 col-md-5 col-xs-12 visible-md visible-lg">
                        <li class="visible-xs visible-sm">
                            <a href=""><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Where to buy</a>
                        </li>
                        <li class="">
                            <a href="">
                                <span class="fa fa-desktop"></span>
                                Visualizer
                            </a>
                        </li>

                        @*show name when login --------------------------------*@

                        @if (@Session["Name"] != null)
                        {
                            <li class="hidden-xs">
                                <a>
                                    <span class="fa fa-user"></span>
                                    <label class="">@Session["Name"].ToString()</label>
                                </a>
                            </li>
                            <li class="">
                                <a href="/Login/Logout">
                                    <label>Logout</label>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="hidden-xs">
                                <a href="/Login/Login">
                                    <span class="fa fa-user"></span>
                                    <label class="">@StaticResources.Resources.Layout_Login</label>
                                </a>
                            </li>
                        }

                        <li class="header-cart">
                            <a href="" class="cart-link"><span class="fa fa-shopping-cart"></span><label class="count">1</label>Request Sample</a>
                            <div class="minicart">
                                <div class="products-list">
                                    <table class="data-table">
                                        <tr>
                                            <td class="product-image" width="15%">
                                                <a href=""><img src="~/images/products/product_07.jpg"></a>
                                            </td>
                                            <td width="85%" class="product-des">
                                                <table cellpadding="0" cellspacing="0" width="100%" class="data-table-info">
                                                    <tr>
                                                        <td class="align-left"><h3 class="product-name">Product Color Name</h3></td>
                                                        <td class="align-right"><button class="btn btn-remove"><span>Remove</span></button></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-left"><p>Code</p></td>
                                                        <td class="align-right"><p>BQ2030</p></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-left"><p>Size</p></td>
                                                        <td class="align-right"><p>6m x 8m</p></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-left"><p>Qty</p></td>
                                                        <td class="align-right"><p>1</p></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="product-image" width="15%">
                                                <a href=""><img src="~/images/products/product_07.jpg"></a>
                                            </td>
                                            <td width="85%" class="product-des">
                                                <table cellpadding="0" cellspacing="0" width="100%" class="data-table-info">
                                                    <tr>
                                                        <td class="align-left"><h3 class="product-name">Product Color Name</h3></td>
                                                        <td class="align-right"><button class="btn btn-remove"><span>Remove</span></button></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-left"><p>Code</p></td>
                                                        <td class="align-right"><p>BQ2030</p></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-left"><p>Size</p></td>
                                                        <td class="align-right"><p>6m x 8m</p></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-left"><p>Qty</p></td>
                                                        <td class="align-right"><p>1</p></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="buttons-set">
                                    <button class="btn btn-blue">Order my samples<i class="fa fa-angle-right"></i></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Start Navigation for PC -->
                <div class="clearfix hidden-xs hidden-sm visible-lg visible-md">
                    <nav class="navbar navbar-default nav-pc">
                        <div class="container-fluid">
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="navbar-collapse">
                                <ul class="nav navbar-nav sm">
                                    <li><a href="https://www.google.com/">@StaticResources.Resources.Layout_about_us</a></li>
                                    <li>
                                        <a href="/Home/Product" class="has-submenu">@StaticResources.Resources.Layout_Product</a>
                                        <ul class="dropdown-menu multi-level">
                                            <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                                            <li><a href="/Home/Product">@StaticResources.Resources.Layout_Product</a></li>
                                            <li><a href="/AddProduct/Index">@StaticResources.Resources.Layout_Add_Product</a></li>
                                            <li><a href="/AddGalleryProduct/AddGalleryToProduct">@StaticResources.Resources.Layout_Add_Gallery</a></li>
                                            <li>
                                                <a href="@Url.Action("Category","Category",new {id=12})" class="has-submenu">@StaticResources.Resources.Layout_Color</a>
                                                <ul class="dropdown-menu">
                                                    <li><a tabindex="-1" href="@Url.Action("Category","Category",new {id=1})">@StaticResources.Resources.Layout_White</a></li>
                                                    <li><a href="@Url.Action("Category","Category",new {id=2})">@StaticResources.Resources.Layout_Grey</a></li>
                                                    <li><a href="@Url.Action("Category","Category",new {id=3})">@StaticResources.Resources.Layout_Light_grey</a></li>
                                                    <li><a href="@Url.Action("Category","Category",new {id=4})">@StaticResources.Resources.Layout_Black</a></li>
                                                    <li><a href="@Url.Action("Category","Category",new {id=5})">@StaticResources.Resources.Layout_Brown</a></li>
                                                    <li><a href="@Url.Action("Category","Category",new {id=6})">@StaticResources.Resources.Layout_Green</a></li>
                                                    <li><a href="@Url.Action("Category","Category",new {id=7})">@StaticResources.Resources.Layout_Red</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Category","Category",new {id=12})" class="has-submenu">@StaticResources.Resources.Layout_Collections</a>
                                                <ul class="dropdown-menu">
                                                    <li><a tabindex="-1" href="@Url.Action("Category","Category",new {id=8})">@StaticResources.Resources.Layout_New_Products</a></li>
                                                    <li><a href="@Url.Action("Category","Category",new {id=9})">Classic</a></li>
                                                    <li><a href="@Url.Action("Category","Category",new {id=10})">Natural</a></li>
                                                    <li><a href="@Url.Action("Category","Category",new {id=11})">Exotic</a></li>
                                                    <li><a href="@Url.Action("Category","Category",new {id=12})">@StaticResources.Resources.Layout_All_Collection</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="/Gallery/Gallery">@StaticResources.Resources.Layout_Gallery</a></li>
                                    <li><a href="#" class="where-to-buy hidden-xs">@StaticResources.Resources.Layout_Where_to_Buy</a></li>
                                    <li><a href="#">@StaticResources.Resources.Layout_News_Events</a></li>
                                    <li><a href="#">@StaticResources.Resources.Layout_Customer_Service</a></li>
                                    <li><a href="#">@StaticResources.Resources.Layout_Investor_Relations</a></li>
                                    <li><a href="#">@StaticResources.Resources.Layout_For_the_Trade</a></li>
                                    <li>@Html.ActionLink(@StaticResources.Resources.Layout_Contact_Us, "ContactUs", "ContactUs")</li>
                                </ul>

                                <form class="search-form pull-right" role="search" action="/Home/Search" method="get">
                                    @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                                    {
                                        <div class="form-group pull-left">
                                            @Html.TextBox("SearchString")
                                            <button type="submit" class="btn btn-default pull-right"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                        </div>
                                    }

                                </form>

                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
                <!-- End Navigation for PC -->

            </div>
        </header>

        <div>
            @RenderBody()
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-7 col-sm-7 col-lg-7 about-adrress">
                        <address>
                            Hoa Lac Hitech Park, Thach Hoa Commune,<br /> Thach That District, Hanoi, Vietnam
                        </address>
                        <ul class="info-contact">
                            <li><span>Phone:</span> +84 4 23 477 286</li>
                            <li><span>Fax:</span> +84 4 33 686 652</li>
                            <li><span>Email: </span> <a href="mailto:info@vicostone.com">info@vicostone.com</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-5 col-sm-5 col-lg-5">
                        <div class="social-share">Find us on</div>
                        <ul class="social clearfix">
                            <li><a href="https://www.houzz.com/pro/vicostoneglobal/vicostone-global"><img src="~/images/social-1.png"></a></li>
                            <li><a href="https://www.facebook.com/VicostoneGlobal" class="fa fa-facebook">facebook</a></li>
                            <li><a href="https://twitter.com/VicostoneGlobal" class="fa fa-twitter">facebook</a></li>
                            <li><a href="https://www.pinterest.com/VicostoneGlobal/" class="fa fa-pinterest">facebook</a></li>
                            <li><a href="https://www.instagram.com/vicostoneglobal/?hl=en" class="fa fa-instagram">facebook</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row footer-info">
                    <div class="company col-md-5 col-xs-12 hidden-sm hidden-xs">
                        <h4>who are we ?</h4>
                        <p>With three production lines of compound stones utilizing technology    transferred from Breton S.P.A (Italy), and using the most advanced         techniques with latest technology, VICOSTONE can provide multi million square meters per year and is one of the leading engineered stone         manufacturers in the world.</p>
                    </div>
                    <div class="footer-links col-md-7 col-xs-12 no-padding">
                        <div class="accordion" id="accordion">
                            <div class="panel panel-default col-sm-3 col-md-4 col-xs-12 panel-who hidden-md hidden-lg">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                            who are we
                                            <span class="glyphicon"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>With three production lines of compound stones utilizing technology    transferred from Breton S.P.A (Italy), and using the most advanced         techniques with latest technology, VICOSTONE can provide multi million square meters per year and is one of the leading engineered stone         manufacturers in the world.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default col-sm-3 col-md-4 col-xs-12">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                            Our Product
                                            <span class="glyphicon"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="#">New Colors</a></li>
                                            <li><a href="#">Collection</a></li>
                                            <li><a href="#">Granite Looking</a></li>
                                            <li><a href="#">Marble Effect</a></li>
                                            <li><a href="#"><span>ECO VICOSTONE</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default col-sm-3 col-md-4 col-xs-12">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                            Overview
                                            <span class="glyphicon"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="#">Composition</a></li>
                                            <li><a href="#">Advantages</a></li>
                                            <li><a href="#">Technical information</a></li>
                                            <li><a href="#">Production Process</a></li>
                                            <li><a href="#">Industrial standards</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default col-sm-3 col-md-4 col-xs-12">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true">
                                            Environmental Commitment
                                            <span class="glyphicon"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="#">Environmental Policy</a></li>
                                            <li><a href="#">Environmental Standards</a></li>
                                            <li><a href="#">Recycled material products</a></li>
                                            <li><a href="#">Marble Effect</a></li>
                                            <li><a href="#">Eco – Environmental</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row footer-bottom">
                    <ul class="cms-links col-sm-4 col-md-4 col-xs-12 col-lg-push-8 col-md-push-8 col-sm-push-8 ">
                        <li><a href="">Site map</a></li>
                        <li><a href="">Search terms</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                    <div class="copy-right col-sm-8 col-md-8 col-xs-12 col-lg-pull-4 col-md-pull-4 col-sm-pull-4 ">
                        Copyright &copy; 2015. All Rights Reserved.
                    </div>

                </div>
            </div>
        </footer>

    </div>
</body>
</html>
