﻿@model Project_Vicostone.Models.Category
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listProduct = (List<Project_Vicostone.Models.Product>) ViewBag.ListProducts;
}

<div class="main-container product-detail">
    <div class="container">
        <div class="collection-name">
            <h3 class="product-name-title">@Model.NameCategory</h3>
            <div class="products-grid gridMasonry clearfix" id="gridMasonry">
                @foreach (var item in listProduct)
                {
                    <div class="item grid-item col-xs-12 col-sm-6 col-md-4">
                        <div class="product-image">
                            <a href="@Url.Action("ProductDetail","Home",new {id=item.Id})">
                                <img src="@Url.Content(item.ProductImage)">
                            </a>
                            <div class="hover">
                                <div class="name-product">
                                    <h4>@item.ProductName</h4>
                                    <span>@item.ProductCode</span>
                                </div>
                                <div class="g-social-link">
                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>
