﻿@model Project_Vicostone.Models.Gallery
@{
    ViewBag.Title = "AddGalleryToProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrap-login">
    <div class="login-form">
        <h3>Add-Product</h3>

        @using (Html.BeginForm("AddGalleryToProduct", "AddGalleryProduct", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form">
                <div class="form-group">
                    <label>Product Id <span class="require">*</span></label>
                    @Html.TextBoxFor(model => model.ProductId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Image Gallery<span class="require">*</span></label>
                    <input type="file" name="ImageFileGallery" required />
                </div>
                <button type="submit" class="btn btn-default">Add</button>
            </div>
        }
    </div>
</div>




